@model SEWebiste_OwenAttard.Models.ProductModels

@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "index", "Home") <span class="divider">/</span></li>
    <li>@Html.ActionLink("User Account", "UserAccount", "Account") <span class="divider">/</span></li>
    <li class="active"> Add Product</li>
</ul>

 <h4>Add Product</h4>
<div class="well">

    @using (Html.BeginForm("AddProduct", "Products", FormMethod.Post,
        new { enctype = "multipart/form-data" }))
    {

        if (TempData["Success"] != null && !Convert.ToBoolean(TempData["Success"]))
        {
        <div class="alert alert-block alert-error fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>

            @Html.ValidationSummary(true)

        </div>
        }
        else if (TempData["Success"] != null && Convert.ToBoolean(TempData["Success"]))
        {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                Product Added
            </div>
        }

        <div class="form-horizontal">
            <h4>Product Information</h4>
            <div class="control-group">
                <label class="control-label">Product Name<sup>*</sup></label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Name, new { @placeholder = "Name" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Price<sup>*</sup></label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.price, new { @placeholder = "Price" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Quantity<sup>*</sup></label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Qty, new { @placeholder = "Qty" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Description<sup>*</sup></label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Desc, new { @placeholder = "Description" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Category<sup>*</sup></label>
                <div class="controls">
                    @Html.DropDownListFor(m => m.SelectedCatID, Model.Categories)
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label">Upload Image<sup>*</sup></label>
                <div class="controls">
                    <input type="file" name="file" id="file" style="width: 100%;" /> 
                </div>
            </div>  
            
            <div class="control-group">
                
                <div class="controls">
                   <label style="font-size: 15px;" >@Html.CheckBoxFor(m => m.HandleDeliveries, new {style="width:20px; height:20px; padding-right: 10px; margin-top: -4px"} ) Handle Deliveries </label> 
                </div>
            </div>
                      
            <br/>
        
            <div class="control-group">
                <div class="controls">
                    <input class="btn btn-large btn-success" type="submit" value="Add Product" />
                </div>
            </div>
        </div>
 
    }
</div>

