@model SEWebiste_OwenAttard.Models.ProductDisplayModel
@{
    ViewBag.Title = "ProductsDisplay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function AddToCart(ID) {
        $.ajax({
            url: '@Url.Action("AddToCart", "Products")',
            type: 'POST',
            data:
                {
                    'ProductID': ID,
                    'Qty': 1,
                },
            dataType: "json",
            success: function (data) {
                if (data.result == "Success") {
                    UpdateCart();

                }
                else {
                }
            },
            error: function (req, status, error) {
                alert("R: " + req + " S: " + status + " E: " + error);
            }
        });

    }
</script>
    <ul class="breadcrumb">
		<li>@Html.ActionLink("Home", "index", "Home") <span class="divider">/</span></li>
		<li class="active">@Model.CatName</li>
    </ul>
	<h3>@Model.CatName</h3>	
	<hr class="soft"/>

<div class="tab-content">
    <div class="tab-pane active" id="listView">
        
        @if (!Model.productModels.Any())
        {
            <div class="row">	  
                <div class="span9">
                    <h3>There are no products available.</h3>	
                </div>
            </div>    
        }
        else
        {
            foreach (SEWebiste_OwenAttard.Models.ProductModels curModel in Model.productModels)
            {
           
                <div class="row">	  
                    <div class="span2">
                        <img src="@curModel.ImgPath" alt=""/>
                    </div>
                    <div class="span4">
                        <h3>@curModel.Name</h3>				
                        <hr class="soft"/>
                        <p>
                            @curModel.Desc
                        </p>
                        <a class="btn btn-small pull-right" href="/Products/ProductDetail/@curModel.ID">View Details</a>
                        <br class="clr"/>
                    </div>
                    <div class="span3 alignR">
                        <form class="form-horizontal qtyFrm">
                            <h3> €@curModel.price</h3>
                            <a onclick="AddToCart(@curModel.ID)" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                        </form>
                    </div>
                </div>  
               <hr class="soft"/>   
            }
  
        }
        
                
    </div>
</div>
